<section id='conducting'>

  <div class="row section-head">
    <h2>{{ page.title }}</h2>
  </div>
  <div class="row feature">
    {{ page.header.blurb|markdown }}
  </div>
  <div class="row">
    <div class="bgrid-thirds s-bgrid-wholes">
      {% for highlight in page.header.highlights %}

      <div class="column">

        {% if highlight.image %}
        <img src="{{ page.media[highlight.image].url() }}" alt="{{ highlight.alttext }}" />
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>